body{
    margin: 0px;
    padding: 0px;
    background-color: #808080;
}
.img{
    width: 100px;
    height: 90px;
    position: relative;
    right: -400px;
}
.wrap1{
 margin: 0 auto;
 width: 900px;
 border: 4px double #000; 
 background-color: #fff;
 height: 900px;
}
.wrap2{
    margin: 0 auto;
    width: 70%; 
    margin-top: 65px;
    
}
ul{
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    padding-top: 15px;
    padding-bottom: 15px;
}
li{
    display: inline;
    margin-right: 60px;
}
.wrap3{
    background-image: url(batman.jpg);
    background-repeat: no-repeat;
    background-position: center center;
  
    background-size: cover;
    height: 250px;
}

a{
    text-decoration: none;
    color: #000;
}