.gmail2{
    margin-left: 560px;
    
}
#cont{
    border: 1px solid #a9a;
    height: 400px;
    width: 420px;
margin-left: 430px;
   background-color: rgb(233, 237, 239)
    
}
.gmail{
         color: #a9a9a9;
         font-size: 18px;
         margin-left: 1100px;
     }
 .img{
         color: #a9a9a9;
         font-size: 18px;
  }
  #place{
      height: 30px;
      width: 280px;
      margin-left:70px;
      font-size: 20px;
    }
    .cs{
      height: 40px;
      width: 285px;
      margin-left:70px; 
      font-size: 20px;
      background-color: #1e9fff;  
    }
    .space{
        
        margin-left: 70px;
         }
        
      .gmail3{
          margin-left: 430px;
          color: #a9a9a9;
             font-size: 38px;
      }
  .size{
      margin-left: 500px;
      color: #a9a9a9;
      font-size: 20px;
  }
    