body{
    background-color: #2f4f4f; 
}
legend{
    background-color: #efefef;
    border: 1px solid #dcdcdc;
    color: #2f4f4f;
    border-radius: 10px;
    padding: 5px 15px;
    text-align: left;   
}
fieldset{
    width: 500px;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
     font-size: 18px;
     color: #fff; 
     margin: 200px 400px 200px 400px;  
}

 

 input{
     padding: 6px 12px 6px 12px;
     border: 1px solid #dcdcdc;
     border-radius: 5px;
     font-size: 16px; 
 }
 button{
     background-color: #2f4f4f;
     padding: 10px 25px;
     margin: 5px;
     border-radius: 10px;
     color: #fff;
      
 }
